body
{
}

.limbo-unused-media-dashboard .progress {
    height: 20px;
    margin-bottom: 10px;
}

.limbo-unused-media-dashboard .progress .bar {
    width: 0%;
    height: 100%;
    background-color: #337ab7;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width .6s ease;
}

.limbo-unused-media-dashboard .log-container {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.limbo-unused-media-dashboard .log-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 12px;
}

.limbo-unused-media-dashboard .log-container ul li {
    border-bottom: 1px solid #eee;
    padding: 2px 0;
}

.limbo-unused-media-dashboard .log-container .error-message {
    color: #d44950;
    margin-top: 10px;
}

.limbo-unused-media-dashboard table.table {
    width: 100%;
    border: 1px solid #d9d9d9;
    box-shadow: none;
}

.limbo-unused-media-dashboard table.table > thead {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f8f8f8;
}

.limbo-unused-media-dashboard table.table > thead th {
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
}

.limbo-unused-media-dashboard table.table > tbody td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #dbdbdb;
}

.limbo-unused-media-dashboard table.table > tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.limbo-unused-media-dashboard .btn-delete {
    color: #d44950;
}
