.filters {
    display: flex;
    input, select {
        margin: 0;
    }
    .filter + .filter {
        margin-left: 10px;
    }

    .filter-text:first-child {
        flex: 1;
    }

    input {
        width: 100%;
    }

}

.items {
    margin-top: 20px;
}

table.table.list {
    th, td {
        padding: 7px 14px;
    }
}

.col-creator, .col-writer {
    min-width: 150px;
}

.col-name {
    width: 100%;
}

.col-actions {
    white-space: nowrap;
}

tfoot > tr > td > div {
    display: flex;
    > div {
        width: 50%;
        line-height: 20px;
        height: 20px;
    }
    .pagination {
        margin: 5px 0;
        font-size: 13px;
    }
    .pagination.pagination-left {
            
    }
    .pagination.pagination-right {
        text-align: right;
    }
}

.pagination ul {
    background: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
    
.pagination ul > li > a,
.pagination ul > li > span {
    padding: 0 4px;
    color: #b0b0b0;
    background: 0;
    border: 0;
}

.pagination ul > li.disabled > a,
.pagination ul > li.disabled > a:hover {
    color: #d9d9d9;
}

.pagination ul > li.active > a,
.pagination ul > li > a:hover {
    color: #000;
}

    

.active-filters {
    span {
        border-radius: 5px;
        background: #f5c1bc;
        padding: 5px 7px;
        line-height: 13px;
        font-size: 13px;
        font-weight: bold;
    }
}

.stats {
    display: flex;
    margin-top: 20px;
    div + div {
        margin-left: 10px;
    }
}

&.loading {
    .stats-numbers {
        opacity: 0.50;
    }
    .items {
        opacity: 0.50;
    }
    .umb-empty-state {
        opacity: 0.25;
    }
}