.limbo-unused-media {

    .filters {
        display: flex;
    }

    .filter + .filter {
        margin-left: 10px;
    }

    .items {
        margin-top: 20px;
    }

    table.table.list {
        th, td {
            padding: 7px 14px;
        }
    }

    .col-creator, .col-writer {
        min-width: 150px;
    }

    .col-name {
        width: 100%;
    }

}