<div class="limbo-unused-media" ng-controller="Limbo.Umbraco.UnusedMedia.Dashboard as vm" ng-class="{loading: vm.loading}">
    <div class="filters" ng-if="vm.loaded">
        <div class="filter filter-{{filter.type}}" ng-repeat="filter in vm.filters">
            <div ng-if="filter.type === 'text'">
                <input type="text" name="{{filter.name}}" no-dirty-check ng-model="filter.value" placeholder="{{filter.placeholder}}" ng-change="vm.filterChanged(filter)" />
            </div>
            <div ng-if="filter.type === 'dropdown'">
                <select ng-options="item as item.label for item in filter.items track by item.value" no-dirty-check ng-model="filter.selected" ng-change="vm.filterChanged(filter)"></select>
            </div>
        </div>
    </div>
    <div class="stats" ng-if="vm.loaded">
        <div class="active-filters" ng-if="vm.activeFilters >= 1">
            <span ng-if="vm.activeFilters == 1">
                <localize key="unusedMedia_oneActiveFilter"></localize>
            </span>
            <span ng-if="vm.activeFilters > 1">
                <localize key="unusedMedia_xActiveFilters" tokens="[vm.activeFilters]"></localize>
            </span>
        </div>
        <div class="stats-numbers" ng-if="vm.items.length > 0">
            <strong>{{vm.stats.unused | number}}</strong>
            af
            <strong>{{vm.stats.total | number}}</strong>
            medier
            ({{vm.stats.unusedPercent | number:2}}%)
            er ikke direkte i brug.
        </div>
    </div>
    <div class="items" ng-if="vm.loaded && vm.items.length > 0">
        <table class="table list">
            <thead>
            <tr>
                <th>
                    <localize key="unusedMedia_id">ID</localize>
                </th>
                <th class="col-name">
                    <localize key="unusedMedia_name">Name</localize>
                </th>
                <th class="col-creator">
                    <localize key="unusedMedia_createdBy">Created by</localize>
                </th>
                <th class="col-writer">
                    <localize key="unusedMedia_updatedBy">Updated by</localize>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items">
                    <td>{{item.id}}</td>
                    <td class="col-name">
                        <strong>{{item.name}}</strong>
                        <div>
                            <small>{{item.path.join(' - ')}}</small>
                        </div>
                        <div>
                            <small>{{item.url}}</small>
                        </div>
                    </td>
                    <td class="col-creator">{{item.creatorName}}</td>
                    <td class="col-writer">{{item.writerName}}</td>
                    <td class="col-actions">
                        <button type="button" class="btn btn-link" ng-click="vm.moveToTrash(item)">Flyt til papirkurv</button>
                        <a href="/umbraco/#/media/media/edit/{{item.id}}" class="btn btn-link">Se i Umbraco</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div>
                            <div class="pagination pagination-left">
                                {{vm.pagination.text}}
                            </div>
                            <div class="pagination pagination-right">
                                <ul>
                                    <li ng-class="{disabled:vm.pagination.page <= 1}">
                                        <a href="#" ng-click="vm.prev()" prevent-default="">
                                            <localize key="general_previous" class="ng-isolate-scope ng-scope">Previous</localize>
                                        </a>
                                    </li>
                                    <li ng-repeat="pgn in vm.pagination.pagination" ng-class="{active: pgn.active}">
                                        <a href="#" ng-click="vm.updateList(pgn.page)" prevent-default="">{{pgn.page}}</a>
                                    </li>
                                    <li ng-class="{disabled:vm.pagination.page >= vm.pagination.pages}" class="">
                                        <a href="#" ng-click="vm.next()" prevent-default="">
                                            <localize key="general_next" class="ng-isolate-scope ng-scope">Next</localize>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <umb-empty-state
        ng-if="vm.loaded && vm.items.length == 0"
        position="center">
        <span ng-if="vm.activeFilters">Din søgning matcher ikke nogen medier.</span>
        <span ng-if="!vm.activeFilters">Din søgning matcher ikke nogen medier.</span>
    </umb-empty-state>
</div>