<div class="umb-dialog umb-pane" ng-controller="Limbo.Umbraco.UnusedMedia.MediaDeleteController">
    <div class="umb-dialog-body" ng-hide="isLoading">
        <div ng-show="allowDelete || showToggle">
            <p class="abstract">
                <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
            </p>
            <div class="umb-alert umb-alert--warning" ng-show="currentNode.trashed">
                <localize key="defaultdialogs_recycleBinWarning">When items are deleted from the recycle bin, they will be gone forever</localize>.
            </div>
            <umb-confirm on-confirm="performDelete" on-cancel="close" confirm-button-style="danger" confirm-disabled="!allowDelete"></umb-confirm>
            <div ng-show="!allowDelete && showToggle">
                <umb-toggle
                    checked="allowDelete"
                    on-click="holdMyBeer()"
                    show-labels="true"
                    label-on="Jeg ved, hvad jeg laver"
                    label-off="Jeg ved, hvad jeg laver"
                    label-position="right"
                    hide-icons="true">
                </umb-toggle>
            </div>
        </div>
        <div ng-show="!allowDelete && !showToggle">
            <div class="alert alert-danger">{{notAllowedMessage}}</div>
            <umb-button type="button" button-style="link" label-key="close" action="close()"></umb-button>
        </div>
        <hr />
        <limbo-reference-list allow-delete="allowDelete"></limbo-reference-list>
    </div>
</div>